<p>Añadir comentario:</p>

<form method="post" action="/quizes/<%= quizId %>/comments">
    <input type="text" id="comment" name="comment[texto]" value=""/>
    <button type="submit">Enviar</button>
</form>
