<h3>Sobre el autor:</h3>
<div class="author">
	<div class="name">
		<p>
			<strong>Nombre:</strong>
			Jose Antonio Gil Montero
		</p>
		<br>
		<p>
			<strong>Bio:</strong>
			Residente en Madrid, pero natural de un pueblecito de Badajoz, me dedico a la programación.
			Siempre estoy curioseando por la web para ver que cosas nuevas puedo aprender, lo cual me ha conducido a realizar este y muchos otros cursos de MiriadaX.
		</p>
	</div>
	<div class="photo">
		<img src="images/foto_perfil.jpg" />
	</div>
</div>
