<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='icon' href='/favicon.css' type='image/x-icon'/>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1>Bienvenido a <%= title %></h1>
		<p>¡El portal donde podrá crear sus propios juegos!</p>
		<br>
		<a href="/quizes/question">Comience a jugar</a>
	</body>
</html>
