<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Preguntas</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
		<link rel="stylesheet"
			type="text/css"
			media="only screen and (min-width: 530px) and (min-device-width: 481px)"
			href="/stylesheets/wide.css" />
		<link rel="stylesheet"
			type="text/css"
			media="only screen and (max-width: 480px)"
			href="/stylesheets/smartphone.css" />
	</head>

	<body>
		<div id="page-wrap">
			<header id="h1" class="main">
				<h2>Quiz: el juego de las preguntas</h1>
			</header>

			<nav id="n1" class="main" role="navigation">
				<span><a href="/">Inicio</a></span>
				<span><a href="/quizes">Preguntas</a></span>
				<span><a href="/author">Créditos</a></span>
			</nav>

			<section id="s1" class="main">
				<%- body %>
			</section>

			<footer id="f1" class="main">
				<a href="http://es.wikipedia.com/wiki/Quiz" target="_blank">¿Qué es un Quiz?</a>
				<span>|</span>
				<a href="https://github.com/josegilmon/quiz" target="_blank">Ver proyecto en GitHub</a>
			</footer>
		</div>
	</body>
</html>
