* {
	padding: 0;
	margin: 0;
}
body {
	font: 16px Georgia, serif;
}

#page-wrap {
	margin: 2% auto;
	color: white;
}
#page-wrap > .main {
	border: 1px solid #999;
	padding: 1%;
	margin-bottom: 1px;
	color: black;
}

section > div {
	padding: 20px;
}
header, nav, section, footer{
	background: #eee;
	text-align: center;
}
nav span {
	margin: 0 10px 0 0;
}

table {
	width: 100%;
	padding: 20px 0;
}

div.author {
	height: 100%;
}
.author div.photo img {
	max-width: 150px;
}
