* {
	padding: 0;
	margin: 0;
}
body {
	font: 16px Georgia, serif;
}

#page-wrap {
	margin: 2% auto;
	color: white;
}
#page-wrap > .main {
	border: 1px solid #999;
	padding: 1%;
	margin-bottom: 1px;
	color: black;
}

section > div {
	padding: 20px;
}
header, nav, section, footer{
	background: #eee;
	text-align: center;
}
header .right {
	float: right;
}

nav span {
	margin: 0 10px 0 0;
}

input[type=text] {
	width: 150px;
}

#ErrorMsgs {
	color: #f61;
	font-size: smaler;
}

table {
	width: 100%;
	padding: 20px 0;
}
table td.wide { width: 50%; }
table td.narrow {
	width: auto;
	padding-right: 5px;
}
table td.narrow img { height: 24px; }
table button {
	border: none;
	background: none;
}

div.author {
	height: 100%;
}
.author div.photo img {
	max-width: 150px;
}
