body {
    background: #999;
}

#page-wrap::after {
    content: "Wide layout";
}

nav {
    float: left;
    width: 15%;
    height: 200px;
}
nav span {
    margin: 0 100px 0 0;
}
section {
    float: right;
    width: 80%;
    height: 200px;
}
footer {
    clear: both;
    display: block;
}
