body {
    background: #999;
}

#page-wrap::after {
    content: "Wide layout";
}

nav {
    float: left;
    width: 15%;
    height: 200px;
}
nav span {
    margin: 0 100px 0 0;
}
section {
    float: right;
    width: 80%;
    height: 100%;
    min-height: 200px;
}
footer {
    clear: both;
    display: block;
}

.author div.name {
	width: 66%;
	float: left;
}
.author div.photo {
	width: 33%;
	float: right;
}
