<p>
    <label for="preg" class="rem">Pregunta:</label>
    <input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>" />
</p>
<p>
    <label for="preg" class="rem">Pregunta:</label>
    <input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>" />
</p>
<p>
    <a href="/quizes"><button type="button">Cancelar</button></a>
    <input type="submit" value="Guardar" />
</p>
