<!DOCTYPE html>
<html>
	<head>
		<title>Quiz</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h2>Quiz: el juego de las preguntas</h1>

		<p><%= respuesta %></p>

		<a href="/quizes/question">Inténtelo otra vez</a>
	</body>
</html>
